In [35]:
import pandas as pd

In [36]:
results = pd.read_table("../tyr-loci/tRNA_pre.bed12", index_col=False,  names=["chromosome", "start", "end", "name", "reads", "plus_minus", "start_float", "end_float", "a", "b", "c"])
db = pd.read_table("../mm10-tRNAs-3/mm10-tRNAs.bed", index_col=False,  names=["chromosome", "start", "end", "name", "reads", "plus_minus", "start_float", "end_float", "a", "b", "c"])

In [37]:
results = results.drop(["reads", "plus_minus", "start_float", "end_float", "a", "b", "c"] , axis=1)
results.head()

  chromosome     start       end             name
0          1   4824104   4824283   1.tRNA1-SerGCT
1          1   9690831   9691006  1.tRNA18-AsnGTT
2          1  23226031  23226201  1.tRNA62-SerGCT
3          1  30748847  30749022  1.tRNA70-SerGCT
4          1  30890593  30890768  1.tRNA71-SerGCT

In [38]:
db = db.drop(["reads", "plus_minus", "start_float", "end_float", "a", "b", "c"] , axis=1)
db.head()

  chromosome      start        end              name
0       chr1   34434811   34434883  tRNA-Glu-TTC-2-1
1       chr1   74816746   74816817  tRNA-Gly-GCC-3-1
2       chr1   75052561   75052633  tRNA-His-ATG-1-1
3       chr1   78297794   78297866  tRNA-Pro-AGG-2-1
4       chr1  105504638  105504710  tRNA-Val-GAC-1-1

In [39]:
results["start"] = results["start"].apply(lambda x: x + 50)
results["end"] = results["end"].apply(lambda x: x - 50)

In [44]:
results = results.set_index("start").join(db.set_index("start"), lsuffix='_res', rsuffix='_db')

In [45]:
results.to_excel("../excel/trna-name-conv.xls")