In [137]:
import pandas as pd
import numpy as np

In [138]:
reads = pd.read_table("./AlkB_normalized_counts.txt")
reads.astype(float)
reads = reads.reset_index()
reads.rename(index=str, columns={"index": "locus"})
reads_mock = reads.filter(["index","X9.unique.bam", "X11.unique.bam", "X13.unique.bam", "X15.unique.bam"])
reads_infected = reads.filter(["index","X10.unique.bam", "X12.unique.bam", "X14.unique.bam", "X16.unique.bam"])

In [139]:
reads_mock["Mock"] = reads_mock.mean(axis=1)
reads_infected["Infected"] = reads_infected.mean(axis=1)

In [140]:
reads_mock = reads_mock.drop(["X9.unique.bam", "X11.unique.bam", "X13.unique.bam", "X15.unique.bam"], axis=1)

In [141]:
reads_infected = reads_infected.drop(["X10.unique.bam", "X12.unique.bam", "X14.unique.bam", "X16.unique.bam"], axis=1)

In [142]:
reads_mock["anti"] = reads_mock["index"].str[-6:]
reads_infected["anti"] = reads_infected["index"].str[-6:]

In [143]:
reads_mock.head()

              index          Mock    anti
0  1.tRNA111-IleGAT     49.106116  IleGAT
1  1.tRNA225-SerGCT     24.910545  SerGCT
2  1.tRNA485-LysTTT    743.871027  LysTTT
3  1.tRNA672-ProAGG    559.425277  ProAGG
4  1.tRNA698-LeuCAG  24202.890671  LeuCAG

In [144]:
reads_infected.head()

              index      Infected    anti
0  1.tRNA111-IleGAT    133.137862  IleGAT
1  1.tRNA225-SerGCT     64.010289  SerGCT
2  1.tRNA485-LysTTT    763.043036  LysTTT
3  1.tRNA672-ProAGG    922.473755  ProAGG
4  1.tRNA698-LeuCAG  21191.007481  LeuCAG

In [145]:
reads_mock = reads_mock.sort_values(by=["anti"])
reads_infected = reads_infected.sort_values(by=["anti"])

In [150]:
result = pd.merge(reads_mock, reads_infected, on=["index"])
result = result.drop(["anti_x", "anti_y"], axis=1)

In [152]:
result = result.set_index(["index"])

In [154]:
result.to_excel("normalized_counts.xls")